<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <include>
            <directory>./</directory>
        </include>
        <exclude>
            <directory>./tests</directory>
            <directory>./vendor</directory>
            <file>./.php-cs-fixer.php</file>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="IMAP test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="IMAP_HOST" value=""/>
        <env name="IMAP_PORT" value="143"/>
        <env name="IMAP_FOLDER" value="INBOX"/>
        <env name="IMAP_USER" value=""/>
        <env name="IMAP_PASS" value=""/>
        <env name="IMAP_FLAGS" value="[]"/>
        <env name="IMAP_LAZY" value="false"/>
    </php>
</phpunit>
